/*---------Home Banner---------*/
.main-banner {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #0b1121;
  color: #fff;
}

.banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  height: 100%;
}
.banner-container h2 {
  line-height: 1.5;
}

.banner-tags {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-banner-left {
  margin-top: -3rem;
}

.main-banner-left h2 {
  color: #fff;
}

.main-banner-left h4 {
  margin-bottom: 1rem;
  color: var(--color-secondary);
  font-weight: 400;
}

.main-banner-left p {
  margin: 1rem 0 3.5rem;
  font-size: 1.1rem;
  opacity: 0.9;
}

.main-banner-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-banner-image {
  position: relative;
  height: 100vh;
}
.main-banner-image img {
  height: 100%;
}
.main-banner-image > div {
  position: absolute;
  bottom: 2rem;
  left: -50%;
  width: 30rem;
  height: 30rem;
}
.main-banner-image > div img {
  border-radius: 100%;
}

/*---------Home Programs---------*/
.programs-container {
  margin-top: 4rem !important;
}

.programs-wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.programs-program:hover a {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-color: var(--color-secondary);
}

/*---------Home values---------*/
.values {
  margin-top: 4rem;
  background-color: #0b1121;
  padding: 4rem 0;
}
.values-container {
  display: grid;
  grid-template-columns: 42% 50%;
  gap: 8%;
}

.values-image {
  filter: saturate(0.25);
  transition: var(--transition);
}

.values-image img {
  max-height: 740px;
}

.values-image:hover {
  filter: saturate(1);
}

.values-right .text {
  margin: 1.5rem 1.5rem 3rem;
  color: var(--color-white);
}

.values-right h2 {
  color: var(--color-white);
}

.values-wrpper {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.4rem 2.4rem;
}

.card.values-value {
  position: relative;
  padding-top: 3.5rem;
  text-align: left;
}

.card.values-value span {
  position: absolute;
  top: -1.5rem;
}

.card.values-value:hover * {
  color: var(--color-white);
}

/*---------Home faqs---------*/
.faqs-container {
  margin-top: 4rem !important;
}
.faqs-wrpper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 5rem;
  align-items: flex-start;
}

.faq {
  background-color: var(--color-gray-100);
  padding: 2rem;
  border-radius: 1rem;
}

.faq-q {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq-icon {
  background-color: transparent;
  color: var(--color-secondary);
  font-size: 1.5rem;
  cursor: pointer;
}
.faq-a {
  margin-top: 1.5rem;
}

/*---------Home reviews---------*/
.reviews {
  margin-top: 4rem;
  background-color: #0b1121;
  padding: 4rem 0;
}

.reviews .center {
  display: flex;
  justify-content: center;
}
.reviews .center h2 {
  color: var(--color-white);
}

.card.reviews-review {
  margin: 0 auto;
  width: 50%;
  margin-top: 5.5rem;
  position: relative;
  text-align: left;
}

.card.reviews-review .avatar {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
.card.reviews-review .avatar img {
  border-radius: 1.8rem;
  box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
  transition: var(--transition);
}

.card.reviews-review:hover * {
  color: var(--color-white);
}
.card.reviews-review:hover .avatar img {
  border-radius: 50%;
}
.card.reviews-review h4 {
  margin-top: 1rem;
}

.card.reviews-review p.name {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: var(--color-gray);
}

.card.reviews-review p.name b {
  display: block;
  font-size: 1rem;
}

.reviews-btns {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.reviews-btns button {
  border-radius: 50%;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
  background: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 미디어쿼리 (medium and small screens)*/
@media screen and (max-width: 1600px) {
  .main-banner-image > div {
    left: -30%;
    width: 20rem;
    height: 20rem;
  }
}
@media screen and (max-width: 1024px) {
  /*Main Banner*/

  .main-banner {
    width: fit-content;
    height: fit-content;
    padding: 12rem 0 6rem;
  }
  .banner-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .main-banner-right {
    margin: 0;
    margin-top: 5rem;
    background-color: red;
  }
  .main-banner-image {
    width: 100%;
    height: 50vh;
  }

  .main-banner-image > div {
    display: none;
  }

  /*Main Programs*/
  .programs-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  /*Main values*/
  .values-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .values-image {
    height: 40vh;
  }
  .values-image img {
    height: 100%;
  }

  /*Main FAQs*/
  .faqs-wrpper {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  /*Main Review*/

  .card.reviews-review {
    width: 100%;
  }
}

@media screen and (max-width: 738px) {
  /*Main Programs*/
  .programs-wrapper {
    grid-template-columns: 1fr;
  }

  /*Main Programs*/
  .values-container {
    grid-template-columns: 1fr;
  }
  /*Main values*/
  .values-wrpper {
    grid-template-columns: 1fr;
  }
}
