/*---------Reset---------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #eb85b4;

  --color-secondary: #0ea5e9;
  --color-secondary-light: #bae6fd;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #5d5e5f;
  --color-gray-100: #f2f2f2;

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 500ms ease;
}

body {
  font-family: 'Noto Sans KR', 'Open Sans', sans-serif;
  color: var(--color-black);
  overflow-x: hidden;
  line-height: 1.7;
  font-size: 1.1rem;
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin: 0 auto;
}

.container.pages {
  padding: 7rem 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--color-black);
}

h1,
h2 {
  font-size: 2.5rem;
}

a {
  color: var(--color-white);
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/*---------공통 버튼---------*/
.btn {
  padding: 0.9rem 2rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 1.5rem;
  transition: var(--transition);
}

.btn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}
.btn.sm {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn:hover {
  background-color: var(--color-secondary);
}

/*---------공통 섹션해드---------*/
.section-head {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section-head h2 {
  font-size: 2rem;
}

.section-head span {
  background-color: var(--color-secondary-light);
  padding: 0.3rem 0.8rem;
  color: var(--color-secondary);
  border-radius: 1rem;
  font-size: 1.5rem;
}

/*---------공통 카드---------*/
.card {
  background-color: var(--color-gray-100);
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0 3rem 0 3rem;
  transition: var(--transition);
}
.card:hover {
  background-color: transparent;
  border-color: var(--color-secondary);
  cursor: default;
}

.card span {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  transition: var(--transition);
}

.card:hover span {
  background: var(--color-secondary);
}
.card small {
  margin-top: 1rem;
  display: block;
  font-weight: 300;
}

.card a {
  margin-top: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  .container.pages {
    padding: 4rem 0;
  }
}

/*---------공통 페이지 비쥬얼---------*/
.page-visual {
  margin-top: 5rem;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-bottom: 2px solid #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.visual-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
}

.visual-content {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 45%;
  z-index: 5;
  color: #fff;
  opacity: 0.7;
}

.visual-content h2 {
  margin-bottom: 1rem;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .visual-content {
    width: 70%;
  }

  .visual-content p {
    font-size: 0.9rem;
  }
}
